* {
  margin: 0px;
  padding: 0px;
  /* box-sizing: border-box; */
}

h2 {
  margin: 0px;
  padding: 0px;
}

.navigation {
  background-color: blueviolet;
  color: white;
  padding: 20px;
}

.content {
  width: 80%;
  margin: 20px auto;
}

.content-body {
  margin: 20px auto;
}
.content-body > p {
  margin-top: 10px;
}
