<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Express Js</title>
  </head>
  <body>
    <h2>Express js, 7 Days Target to complete</h2>
    <h3>Welcome <%= locals.name %> to <%= campus%></h3>
  </body>
</html>
